
<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cambio Total - Tu casa de cambio favorita</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/img.png">
    <!--=== Reset Css ===-->
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <!--=== Bootstrap ===-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!--=== Fontawesome icon ===-->
    <link rel="stylesheet" href="~/assets/css/font-awesome-5.10.2.min.css">
    <!--=== Owl-Carousel ===-->
    <link rel="stylesheet" href="~/assets/css/plugin/owl.carousel.min.css">
    <!--=== Magnific Popup===-->
    <link rel="stylesheet" href="~/assets/css/plugin/magnific-popup.css">
    <!--=== Magnific Popup===-->
    <link rel="stylesheet" href="~/assets/css/plugin/nice-select.css">
    <!--=== Main Css ===-->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!--=== Responsive Css ===-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link href="~/assets/css/floating-wpp.css" rel="stylesheet" />
    <style>
        .loader-1 .loader-outter {
            position: absolute;
            border: 4px solid #f5c830;
            border-left-color: transparent;
            border-bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
        }

        .loader-1 .loader-inner {
            position: absolute;
            border: 4px solid #f5c830;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            border-right: 0;
            border-top-color: transparent;
            animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
        }

        @@media (max-width: 1899px) {
            .banner .hero-area {
                padding: 100px 0 208px;
            }
        }

        .banner .mein-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 5%);
            background: -webkit-linear-gradient(top, #00a24f 100%, #00a24f 100%);
            z-index: 99999;
            padding: 10px 0 10px;
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: black !important;
            opacity: 1;
            /* Firefox */
        }

        .banner {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-bottom: 0;
            position: relative;
            z-index: 1;
        }

            .banner .hero-area .hero-form .courrency-select-Ip1 {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: -77px;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 20px;
                height: 77px;
                padding: 0 20px;
                background: rgba(255, 255, 255, 0.17);
            }

            .banner .hero-area .hero-form {
                border-radius: 20px;
                background: rgb(255 255 255 / 99%);
                box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 26%);
                padding: 20px 20px 50px;
            }

        .tcambiar {
            color: black !important;
        }

        @@media (max-width: 414px) {

            .banner .hero-area .hero-form {
                border-radius: 20px;
                background: rgb(255 255 255 / 21%);
                box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 26%);
                padding: 20px 20px 50px;
            }

            .how-use .use-box .install {
                display: flex !important;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-radius: 10px;
                box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 5%);
                background: rgba(255, 255, 255, 0.205);
                margin-top: 20px;
                padding: 20px 20px 20px;
            }

            .about .upper-content p.text {
                color: #2c8c51;
                padding: 0 0 0 !important;
            }

            .footer .footer-box .footer-link li {
                display: grid;
                margin-left: 40px;
                color: #142645;
            }

            .footer .footer-box .footer-link {
                text-align: left;
                margin-top: 10px;
            }

                .footer .footer-box .footer-link li:first-child {
                    margin-left: 40px;
                }

            .feature .upper-content p.text {
                color: #2c8c51;
                padding: 0 0 0 !important;
            }

            .banner {
                /*background-image: unset !important;*/
                /* background-image: url(assets/img/banner-bg2.png); */
                background-color: #2c8c51 !important;
            }

            .form-control {
                color: white !important;
            }

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white !important;
                opacity: 1;
                /* Firefox */
            }

            .courrency-select-Ip1 label {
                color: white;
            }

            .tcambiar {
                color: white !important;
            }

            .divcambio {
                color: white;
            }
        }

        #scrollUp {
            position: fixed;
            display: none;
            height: 45px;
            width: 40px;
            right: 2%;
            bottom: 3%;
            border-radius: 4px;
            background: -webkit-linear-gradient(top, #2c8c51 100%, #2c8c51 100%);
            text-align: center;
            cursor: pointer;
            transition: all 0.4s ease-in-out 0s;
            z-index: 500;
            color: black;
        }

        .banner .mein-menu.nav-fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 5%);
            background: -webkit-linear-gradient(top, #3dad52 100%, #3dad52 100%);
            z-index: 99999;
            padding: 10px 0 10px;
        }

        .about .upper-content h2.title {
            color: #2c8c51;
            margin: 17px 0 10px;
        }

        .feature .upper-content h2.title {
            color: #2c8c51;
            margin: 19px 0 26px;
        }

        .how-use .content h2.title {
            color: #00a24f;
            margin: 20px 0 26px;
        }

        .faq .content h2.title {
            color: #2c8c51;
            margin: 19px 0 26px;
        }

        .about .upper-content p.text {
            color: #2c8c51;
            padding: 0 100px 0;
        }

        .feature .upper-content p.text {
            color: #2c8c51;
            padding: 0 100px 0;
        }

        .how-use .content p.text {
            color: #2c8c51;
        }

        .faq .content p.text {
            color: #2c8c51;
            padding-right: 92px;
        }

        .footer {
            margin-top: 120px;
            padding: 0px 0px 30px;
            background: #f4f2ff;
        }

        .how-use .use-box .install {
            display: table-cell;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 5%);
            background: rgba(255, 255, 255, 0.205);
            margin-top: 20px;
            padding: 20px 20px 20px;
            
        }
    </style>
</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="loader loader-1">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>

    @RenderBody()

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <!-- <div class="row">
                <div class="col-12">
                    <div class="subcribe-box" style="background: url('assets/img/subscribe-bg.png');">
                        <h3 class="subcribe">To get exclusive updates and benefits </h3>
                        <div class="form-group">
                            <form action="#">
                                <input type="email" class="form-control " placeholder="Enter Your Email" name="email">
                                <button class="button-1">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="footer-box">
                        <h4 class="logo" style="margin-top:15%;">Tu cambio total</h4>
                        <!-- <a href="#"><img class="logo" src="assets/img/logo.png" alt=""> </a> -->
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="footer-box">
                        <ul class="footer-link">
                            <li><a href="#divfeature">Acerca de nosotros</a></li>
                            <li>|</li>
                            <li><a href="#divcomousar">¿Cómo funciona?</a></li>
                            <li>|</li>
                            <li><a href="#divfaq">FAQ</a></li>
                            <li>|</li>
                            <li><a href="@Url.Action("inicio","Inicio")">Iniciar sesión</a></li>
                        </ul>
                        <ul class="footer-link" style="text-align:center;">
                            <li><a href="@Url.Action("politicadeprivacidad","Inicio")">Política de privacidad</a></li>
                            <li>|</li>
                            <li><a href="@Url.Action("terminosycondiciones","Inicio")">Términos y condiciones</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="raka"></div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom">
                        <p class="text">
                            &copy; Todos los derechos reservados <a href="#">TuCambiototal</a> | <a href="#">2021</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom">
                        <div class="social-style">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== Scroll To Top Start ======-->
    @*<div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>*@

    <!--====== Scroll To Top End ======-->
    <!--==================================================================-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/proper-min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--=== All Plugin ===-->
    <script src="~/assets/js/plugin/waypoint.min.js"></script>
    <script src="~/assets/js/plugin/owl.carousel.min.js"></script>
    <script src="~/assets/js/plugin/jquery.rcounter.js"></script>
    <script src="~/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/plugin/jquery.nice-select.min.js"></script>

    <!--=== All Active ===-->
    <script src="~/assets/js/main.js"></script>

    <script src="~/assets/css/floating-wpp.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#WhatsappBtn').floatingWhatsApp({
                phone: '51941645017',
                popupMessage: '¡Hola! ¿Cómo podemos ayudarte?',
                message: "Tengo algunas consultas acerca de CambioTotal.",
                showPopup: true,
                showOnIE: false,
                headerTitle: '¡Bienvenid@@!',
                headerColor: '#25D366',
                backgroundColor: '#25D366',
                buttonImage: '<img src="../../assets/css/whatsapp.svg" />'
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>


