@{
    ViewBag.Title = "Home Page";
}
<style>
    @@font-face {
        font-family: 'aileron.regular';
        src: url('../../Scripts/aileron.regular.otf') format('truetype');
    }

    .banner .mein-menu .navbar #navbarNavDropdown ul.navbar-nav li.nav-item a.nav-link {
        font-family: 'aileron.regular';
        color: #fff;
        font-size: 15px;
        line-height: 1.556;
        font-weight: 600;
        padding-right: 0;
        padding-left: 0;
    }

    .faq .content h2.title {
        color: #00a24f;
        margin: 19px 0 26px;
    }

    @@media (max-width: 414px) {
        .imgimg {
            max-width: 100% !important;
        }
    }

    .about .content .compare-box .text-box h3.subtitle {
        color: #000;
    }


    @@media (max-width: 1899px) {
        .faq .question .question-man {
            right: 7%;
            width: 22%;
        }

        .banner .hero-area {
            padding: 100px 0 0px;
        }
    }

    .about .upper-content h2.title {
        color: #00a24f;
        margin: 17px 0 10px;
    }

    .banner .hero-area .hero-form .courrency-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 23px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 20px;
        box-shadow: 0px 5px 26.1px 3.9px rgb(23 29 113 / 5%);
        height: 77px;
        padding: 0 8px;
        background: #00a24f;
    }

        .banner .hero-area .hero-form .courrency-select .form-group .form-control {
            background: transparent;
            border: none;
            font-family: 'aileron.regular';
            font-size: 24px;
            line-height: 1.556;
            font-weight: 500;
            color: #fff !important;
        }

    #lbl1 {
        font-size: 25px;
        color: white;
        font-weight: 500;
    }

    #lbl2 {
        font-size: 25px;
        color: white;
        font-weight: 600;
    }

    ::-webkit-input-placeholder {
        color: #fff !important;
    }

    *::placeholder {
        color: #fff !important;
    }

    .banner .hero-area .hero-form a.button.button-1 {
        border-radius: 20px;
        background-color: #ffb400;
        box-shadow: 0px 5px 13.28px 2.72px rgb(0 0 0 / 10%);
        height: 45px;
        width: 100%;
        border: none;
        font-size: 18px;
        font-family: 'aileron.regular';
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.556;
        text-align: center;
        margin-top: 10px;
        transition: 0.1s;
    }

    .about .content .compare-box .text-box p.text {
        color: #000;
        padding: 22px 21px 0 0;
        font-size: 20px;
    }

    @@media (min-width: 992px) {
        .col-lg-5 {
            flex: 0 0 auto;
            width: 38%;
        }
    }

    .banner .hero-area .hero-form {
        border-radius: 20px;
        background: rgb(255 255 255 / 99%);
        box-shadow: 0px 5px 89.61px 13.39px rgb(23 29 113 / 26%);
        padding: 12px 20px 30px;
    }
</style>
<!-- preloader area end -->
<!-- Banners Start -->
<section class="banner" style="background: linear-gradient(rgb(8 8 8 / 50%), rgb(14 14 14 / 50%)), url(../../assets/img2.jpeg);
    background-size: cover;background-position: center; background-repeat: no-repeat;padding-bottom: 40px;position: relative;">
    <div class="laptop">
        @*<img src="~/assets/img/laptop-man.png" class="man-lap" alt="">*@
    </div>
    <!-- Main-menu Strat -->
    <div class="mein-menu">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" style="display: inline-flex;" href="@Url.Action("Index","Inicio")">
                    <img src="~/assets/tucambio.png" height="45" class="logo" alt="logo">
                    <h4 style="color:white;margin-top: 4%;">TuCambioTotal</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("Index","Inicio")">Inicio</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#divfeature">Nosotros</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="#divcomousar">¿Cómo funciona?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#divfaq">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <button class="button button-1" style="background-color:#f5ae08;border: 0;color:#fff;" onclick="window.location.href = '/Inicio/registro';">Regístrate</button>
                        </li>
                        <li class="nav-item">
                            <button class="button button-1" onclick="window.location.href = '/Inicio/inicio';">Iniciar sesión</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Main-menu End -->
    <!-- Banner Start -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="banner-content" style="margin-left: 3%;margin-bottom: 20%;">
                        <h1 class="head">CAMBIA TU DINERO DESDE DONDE ESTÉS.</h1>
                        <p class="text" style="font-size: 25px;">
                            FÁCIL, RÁPIDO Y SEGURO.
                            COTIZA CON NOSOTROS.
                        </p>
                        <div>
                            <img src="~/assets/SUPERINTENDENCIA.png" height="102" />
                            @*<img src="~/assets/logo-sbs-blanco.png" height="102" />*@
                            <p class="text-white" style="font-weight:500;font-size:25px;">Registro SBS: 01989-2021 <img height="60" src="~/assets/ESCARAPELA.png" /></p>

                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="hero-form">
                        <p class="text tcambiar">Me gustaría cambiar</p>
                        <div class="divcambio" style="display: inline-flex;align-content: center;">
                            Compra:&nbsp;<strong id="txcompra"></strong>&nbsp;
                            Venta:&nbsp;<strong id="txventa"></strong>
                        </div>
                        <p class="text tcambiar">Enviaré</p>
                        <div class="courrency-select-Ip1">
                            <label for="" id="lbl1">Dólares</label>
                        </div>
                        <div class="courrency-select">
                            <form action="#!" id="faq_form">
                                <div class="form-group">
                                    <input type="text" name="number" id="txInput1" value="100.00" placeholder="100.00" maxlength="10"
                                           class="form-control tcambiar">
                                </div>
                            </form>
                        </div>
                        <a class="button button-1" id="btncambiar" style="margin-left: 42%;margin-bottom: -9%;
                            margin-top: -5%;width: 48px !important;border-radius: 60px;background-color: #f5ae08;color: black;">
                            <img src="~/assets/exchange-white.svg" style="transform: rotate(90deg);" />
                        </a>
                        <p class="text tcambiar">Recibiré</p>
                        <div class="courrency-select-Ip1">
                            <label for="" id="lbl2">Soles</label>
                        </div>
                        <div class="courrency-select">
                            <form action="#!" id="faq_form2">
                                <div class="form-group">
                                    <input type="text" name="number" id="txInput2" placeholder="385.00" maxlength="10"
                                           class="form-control tcambiar">
                                </div>
                            </form>
                        </div>
                        @*<label id="lblahorro"></label>*@
                        <div class="text-center justify-content-center">
                            <a href="#" style="color:black;font-size: 21px;">¿Monto mayor a $1.000 o S/ 3.500?</a>
                            <a href="https://web.whatsapp.com/send?phone=51941645017&text=Deseo%20enviar%20montos%20mayores%20a%2010%20000"
                               target="_blank" style="color:black;font-size: 15px;">Clic aquí para cambio preferencial</a>
                            <a href="#" id="btnInicio" class="button button-1">Cambiar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
</section>

<style>
    @@media (min-width: 1000px) {
        #pays {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            background-color: white;
            width: 100%;
            overflow: hidden;
        }

        #pays-box {
            display: flex;
            width: 100%;
        }

        #pays-fast {
            width: 50%;
            padding-top: 10px;
        }

        #pays-between {
            width: 50%;
            padding-top: 10px;
        }

        .pay-bank {
            max-height: 50px;
            display: inline-block;
        }

            .pay-bank img {
                max-height: 50px;
            }

        #pays h2 {
            padding-bottom: 10px;
        }
    }

    @@media (max-width: 1000px) {
        #pays {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            background-color: white;
            overflow: hidden;
        }

        #pays-box {
            width: 100%;
        }

        #pays-fast {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #pays h2 {
            padding-bottom: 10px;
        }

        .pay-bank {
            max-height: 50px;
            display: inline-block;
        }

            .pay-bank img {
                max-height: 50px;
            }

        #pays-between {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
</style>
<div id="pays">
    <div id="pays-box">
        <div id="pays-fast">
            <h5>TRANSFERENCIAS INMEDIATAS <p style="font-size:12px">(15 min)</p></h5>
            <div class="pay-bank"><img src="https://cambiosol.pe/storage/1602585928.png"></div>
        </div>
        <div id="pays-between">
            <h5>TRANSFERENCIAS INTERBANCARIAS <p style="font-size:12px">(Hasta 1 día útil)</p></h5>
            <div class="pay-bank"><img src="https://cambiosol.pe/storage/1602586514.jpg"></div>
            <div class="pay-bank"><img src="https://cambiosol.pe/storage/1602586768.jpg"></div>
            <div class="pay-bank"><img src="https://cambiosol.pe/storage/1602586972.png"></div>
            <div class="pay-bank"><img src="https://cambiosol.pe/storage/1602587208.png"></div>
            <div class="pay-bank"><img style="height: fit-content;" src="https://www.pichincha.pe/themes/custom/financiero/images/logo-bp.svg"></div>

        </div>
    </div>
</div>

<!-- How-use Start -->
<div class="how-use" id="divcomousar">
    <div class="usesape">
        @*<img src="~/assets/img/use-bg.png" class="usesape-img" alt="">*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h3 class="subtitle" style="color:#00a24f;">Realiza tu cambio ahora</h3>
                <h2 class="title" style="color: #00a24f;">¡Es muy fácil!</h2>
                <p class="text" style="color: #00a24f;">Pasos simples para que cambies tu dinero de forma rápida y segura</p>
            </div>
            <style>
                .help-box {
                    background-color: #00a24f !important;
                }

                .help-box {
                    border-radius: 5px;
                    padding: 0 20px 20px 20px;
                    margin: 0 0 25px;
                    position: relative;
                    background-color: rgba(255,255,255,.07);
                }
            </style>
            <div class="col-md-6">
                <div class="help-box text-white text-center" id="divhorario">
                    <h5 class="pt-3 text-white">Horario de atención</h5>
                    <p class="mb-3 text-white">Lunes a Viernes de 9:00 am a 6:00 pm</p>
                    <p class="mb-3 text-white">Sábados de 9:00 am a 1:00 pm</p>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="use-box">
                    <div class="install">
                        <div class="tumb">
                            <img class="imgimg" src="~/assets/2.png" />
                        </div>
                        <div class="text-box">
                            <b style="color:#00a24f;">Paso 1</b>
                            <br />
                            <b style="color:#00a24f;">Regístrate</b>
                            <h6>Crea tu usuario en nuestra página.</h6>
                        </div>
                    </div>
                    <div class="install">
                        <div class="tumb">
                            <img class="imgimg" style="max-width: 80%;" src="~/assets/3.png" />
                        </div>
                        <div class="text-box">
                            <b style="color:#00a24f;">Paso 2</b>
                            <br />
                            <b style="color:#00a24f;">Cotiza</b>
                            <h6>Cotiza el monto a cambiar y selecciona en qué cuenta deseas recibirlo.</h6>
                        </div>
                    </div>
                    <div class="install">
                        <div class="tumb">
                            <img class="imgimg" style="max-width: 65%;" src="~/assets/4.png" />
                        </div>
                        <div class="text-box">
                            <b style="color:#00a24f;">Paso 3</b>
                            <br />
                            <b style="color:#00a24f;font-size: 16px;">Transfiere a TU CAMBIO TOTAL</b>
                            <h6>Realiza la transferencia desde tu banco a la cuenta indicada e ingresa el número de operación.</h6>
                        </div>
                    </div>
                    <div class="install">
                        <div class="tumb">
                            <img class="imgimg" style="max-width: 75%;" src="~/assets/5.png" />
                        </div>
                        <div class="text-box">
                            <b style="color:#00a24f;">Paso 4</b>
                            <br />
                            <b style="color:#00a24f;">Recibe tu cambio</b>
                            <h6>Verifica el abono en tu cuenta en tiempo récord y sigue ahorrando con nosotros.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Us Start -->
<section class="about">
    <div class="sape">
        @*<img src="~/assets/img/about-bg.png" class="about-sape" alt="">*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="upper-content text-center">
                    <h3 class="subtitle" style="color:#00a24f;">Tenemos el mejor tipo de cambio para ti</h3>
                    <h2 class="title">¿Por qué usar TuCambioTotal?</h2>
                    <p class="text">
                        Buscamos en tiempo real muchos datos para comparar los tipos de cambios existentes cada día.
                        Trabajamos constantemente para ti.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="about-photo">
                    @*<img src="~/assets/img4.jpeg" alt="" class="about-img" style="border-radius: 10%;">*@
                    <h4 style="color:#00a24f; font-size:30px">NÚMERO QUE INSPIRAN CONFIANZA</h4>

                    <br />
                    <p style="color:black; font-weight: bolder; font-size:25px;">+ 3 MILLONES CAMBIADOS</p>
                    <p style="color:black; font-weight: bolder; font-size:25px;">+ 200 MIL SOLES AHORRADOS</p>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="content">
                    <div class="compare-box">
                        <div class="tumb">
                            <img src="~/assets/6.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Ahorra</h3>
                            <h6 class="text">
                                Puedes ahorrar dinero cada vez que hagas una transacción con nosotros.
                            </h6>
                        </div>
                    </div>
                    <div class="compare-box">
                        <div class="tumb">
                            <img src="~/assets/7.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Somos confiables</h3>
                            <h6 class="text">
                                Te brindamos el apoyo constante para que tus cambios de soles a dólares
                                sean seguros.
                            </h6>
                        </div>
                    </div>
                    <div class="compare-box">
                        <div class="tumb">
                            <img src="~/assets/8.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3 class="subtitle">Obtén tu dinero rápidamente</h3>
                            <h6 class="text">
                                Hacemos lo posible para que tu cambio llegue a tu cuenta bancaria lo más rápido
                                posible.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Faq Start -->
<div class="faq" id="divfaq">
    <div class="sape">
        @*<img src="~/assets/img/question-bg.png" alt="" class="faq-bg">*@
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <h3 class="subtitle" style="color:#00a24f;">¿Cómo te podemos ayudar?</h3>
                    <h2 class="title">Preguntas Frecuentes</h2>
                    <p class="text">Respondemos a las dudas que tengas</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Cómo puedo empezar a cambiar dinero?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Regístrate y/o Ingresa a tu perfil de usuario desde la web, luego:
                                <br />
                                1) Calcula el monto a cambiar e indica tu banco de origen y cuenta destino.
                                <br />
                                2) Transfiere desde tu banca móvil o app de banco a nuestro número de cuenta indicado.
                                <br />
                                3) Coloca tu número de operación de la transferencia bancaria en el campo indicado y listo.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Cuánto cuesta usar TU CAMBIO TOTAL?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                El uso de nuestra plataforma es completamente gratuito.
                                Los usuarios pueden efectuar operaciones de cambio de moneda al tipo de cambio establecido por TU CAMBIO TOTAL.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Con qué bancos trabajan?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A nivel nacional con BCP de manera inmediata. Para otros bancos realizamos transferencias interbancarias.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Puedo depositar desde ventanilla, agente o cajero?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Solo aceptamos transferencias online (desde banca por internet o la app del banco).
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Cómo se hace una transferencia?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Una vez efectuada la operación en nuestra plataforma, debes ingresar a tu banca por internet o banca móvil de la cual transferirás el monto acordado.
                                Luego, estando en tu banca por internet o móvil, dirígete a la sección transferencia a otras cuentas, escriba el monto a transferir y haga uso de su clave token, tarjeta de coordenadas o algún dispositivo que su banco le entregue para hacer este tipo de operaciones.
                                Seguidamente, registra el número de operación en nuestra plataforma y listo. Nosotros hacemos lo demás.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿A dónde me depositan al cambiar dólares o soles?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                El dinero se le deposita a la cuenta en Soles o Dólares (Según sea el caso) que usted registre a su nombre en nuestra plataforma.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <img src="~/assets/img/faq-icon.png" alt="" class="icon">
                                ¿Qué necesito para registrar mis cuentas bancarias?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Una vez registrado en TuCambioTotal, puedes ingresar tu número de cuenta verificando la moneda (soles o dólares)
                                y el CCI correcto. Para ello necesitas la siguiente información:
                                <ul>
                                    <li>Tipo de Cuenta (Cuenta de Ahorro o Cuenta Corriente)</li>
                                    <li>Moneda (soles y dólares)</li>
                                    <li>Número de cuenta</li>
                                    <li>* Debe ingresar el número de cuenta sin espacios ni guiones</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="question">
                    <img src="~/assets/10.png" alt="" class="question-man">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-center justify-content-center">
    <div class="col-md-6">
        <div class="help-box text-white text-center" id="divhorario">
            <h5 class="pt-3 text-white">Horario de atención</h5>
            <p class="mb-3 text-white">Lunes a Viernes de 9:00 am a 6:00 pm</p>
            <p class="mb-3 text-white">Sábados de 9:00 am a 1:00 pm</p>
        </div>
    </div>
</div>

<div>
    @*<div id="WhatsappBtn" style="z-index: 999;"></div>*@
    <style>
        div.ccw_plugin, .inline {
            display: inline;
        }

        .chatbot {
            position: fixed;
            z-index: 99999999;
        }

        .ccw_plugin .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    </style>

    <div class="ccw_plugin chatbot" style="bottom:20px; right:30px;">
        <div class="style4 animated no-animation ccw-no-hover-an">
            <a target="_blank" href="https://web.whatsapp.com/send?phone=51941645017&text=" class="nofocus">
                <div class="chip style-4 ccw-analytics p-1" id="style-4" data-ccw="style-4" style="border-radius:10px;background-color: #00a24f; color: #fff">
                    <img id="s4-icon" data-ccw="style-4" alt=""
                         data-src="https://mendozacercoselectricos.com/wp-content/plugins/click-to-chat-for-whatsapp/./new/inc/assets/img/whatsapp-logo-32x32.png"
                         class="ccw-analytics lazyloaded"
                         src="https://mendozacercoselectricos.com/wp-content/plugins/click-to-chat-for-whatsapp/./new/inc/assets/img/whatsapp-logo-32x32.png">
                    Esperamos tu mensaje!
                </div>
            </a>
        </div>
    </div>

</div>


<div class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="footer-box">
                    <a class="navbar-brand mt-1" style="display: inline-flex;" href="@Url.Action("Index","Inicio")">
                        <img src="~/assets/tucambio.png" height="45" class="logo" alt="logo">
                        <h4 class="ml-1" style="color:#00a24f;margin-top: 4%;">TuCambioTotal</h4>
                    </a>
                    <!-- <a href="#"><img class="logo" src="assets/img/logo.png" alt=""> </a> -->
                </div>
            </div>
            <div class="col-lg-9">
                <div class="footer-box">
                    <ul class="footer-link">
                        <li><a href="@Url.Action("nosotros","Inicio")">Acerca de nosotros</a></li>
                        <li>|</li>
                        <li><a href="#divcomousar">¿Cómo funciona?</a></li>
                        <li>|</li>
                        <li><a href="#divfaq">FAQ</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("inicio","Inicio")">Iniciar sesión</a></li>
                    </ul>
                    <ul class="footer-link" style="text-align:left;">
                        <li><a href="@Url.Action("politicadeprivacidad","Inicio")">Política de privacidad</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("terminosycondiciones","Inicio")">Términos y condiciones</a></li>
                        <li>|</li>
                        <li><a href="@Url.Action("registro","Inicio")">Regístrate</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <div class="raka"></div>
            </div>
            <div class="col-12">
                <b>Contáctanos en:</b>
                <br />
                <div class="inline">
                    <i class="fas fa-phone"></i>
                    <b style="font-size:17px;">941645017</b>
                </div>
                <br />
                <div class="inline">
                    <i class="far fa-envelope"></i>
                    <a style="font-size:19px;font-weight:400;" href="mailto:contacto@tucambiototal.com">contacto@tucambiototal.com</a>
                </div>
                <br />
                <br />
            </div>
            <div class="col-md-6">
                <div class="footer-bottom">
                    <p class="text">
                        &copy; Todos los derechos reservados <a href="#">TuCambiototal</a> | <a href="#">2021 &nbsp;<a style="font-size:14px;" href="https://www.crivant.com" target="_blank">Hecho por Crivant</a></a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-bottom">
                    <div class="social-style">
                        <a href="https://www.facebook.com/Tu-Cambio-Total-103825761901896" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/tucambiototalpe/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdddirIp" value="@ViewBag.DirIP" />
@section Scripts{
    <script src="~/assets/js/moment.js"></script>
    <script>
        var fechainicialNOW = moment().format("YYYY-MM-DD");
        var shora = moment().format("hh:mm:ss");
        var vCompra = 0;
        var vVenta = 0;

        $.ajax({
            type: 'POST',
            url: '/Inicio/ListarDivisas',
            data: {
                "widdivisa": 0,
                "wdtfecha": fechainicialNOW
            },
            success: function (data) {
                if (data.aaData == "" || data.aaData == null) {
                    console.log("no hay divisa...creando");
                    fn_DivisaAuto();
                } else {
                    console.log("si hay...leyendo");
                    vCompra = data.aaData[0].dsolescompra;
                    vVenta = data.aaData[0].dsolesventa;
                    $('#txcompra').text(parseFloat(data.aaData[0].dsolescompra).toFixed(3));
                    $('#txventa').text(parseFloat(data.aaData[0].dsolesventa).toFixed(3));

                    setTimeout(function () {
                        $('#txInput2').val(parseFloat((100.00 * vCompra)).toFixed(2));
                        //$('#lblahorro').text("Ahorro estimado: " + (parseFloat((100 * 4)).toFixed(2) - (parseFloat((100 * vCompra)).toFixed(2)) ) );
                    }, 1500);
                }

            },
            error: function (data) {
                console.log("error: " + data);
            }
        });


        function fn_DivisaAuto() {
            var iestadofinal = 0;
            $.ajax({
                url: 'https://operations.roblex.pe/valuation/active-valuation',
                type: 'GET',
                dataType: 'json',
                cors: false,
                contentType: 'application/json',
                secure: false,
                headers: {
                    'Access-Control-Allow-Origin': '*',
                },
                async: false,
                success: function (data) {
                    iestadofinal = 1;
                    vCompra = data.amountBuy;
                    vVenta = data.amountSale;
                    $('#txcompra').text(parseFloat(data.amountBuy).toFixed(3));
                    $('#txventa').text(parseFloat(data.amountSale).toFixed(3));

                    setTimeout(function () {
                        $('#txInput2').val(parseFloat((100.00 * vCompra)).toFixed(2));
                        //$('#lblahorro').text("Ahorro estimado: " + (parseFloat((100 * 4)).toFixed(2) - (parseFloat((100 * vCompra)).toFixed(2)) ) );
                    }, 1500);
                }
            });

            setTimeout(function () {
                if (iestadofinal == 1) {
                    fn_addDivisaAuto();
                }
            }, 2000);

        }

        function fn_addDivisaAuto() {
            //debugger;
            var ivalorcompra = parseFloat($('#txcompra').text());
            var ivalorventa = parseFloat($('#txventa').text());
            $.ajax({
                type: 'POST',
                url: '/Inicio/OperacionDivisa',
                data: {
                    "wtOperacion": 1,
                    "widdivisa": 0,
                    "iusuario": 8,
                    "witipobusqueda": 1, //1 es automatico (API) y 2 es manual
                    "wmonto": 0,
                    "wsolesventa": ivalorventa,
                    "wsolescompra": ivalorcompra,
                    "wdolaresventa": ivalorventa,
                    "wdolarescompra": ivalorcompra,
                    "itipopromocion": 0,
                    "wdfecha": fechainicialNOW,
                    "wvhora": shora,
                    "wfechreg": fechainicialNOW
                },
                async: false,
                success: function (data) {
                    console.log("DIVISA CREADA");
                },
                error: function (data) {
                    console.log("error: " + data);
                }
            });

        }

        //paramtipo 0: dolares a soles | 1: soles a dolares
        //tipoinput 0: input 1 a input 2 | 1: input 2 a input 1
        function CambioDivisa(paramtipo) {
            var vmonto1 = $('#txInput1').val();
            var vmonto2 = $('#txInput2').val();
            if (paramtipo == 1) {
                $('#lbl1').text("Soles");
                $('#lbl2').text("Dólares");
                $('#txInput2').val(parseFloat(vmonto1 / vVenta).toFixed(2));
                return;
            } else {
                // si es 0
                $('#lbl1').text("Dólares");
                $('#lbl2').text("Soles");
                $('#txInput2').val(parseFloat(vmonto1 * vCompra).toFixed(2));
                return;
            }


        }

        var txt = document.getElementById('txInput1');
        var txt2 = document.getElementById('txInput2');
        txt.addEventListener('keyup', myFunc);
        txt2.addEventListener('keyup', myFunc2);

        function myFunc(e) {
            var val = this.value;
            var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
            var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
            if (re.test(val)) {
                //do something here

            } else {
                val = re1.exec(val);
                if (val) {
                    this.value = val[0];
                } else {
                    this.value = "";
                }
            }
        }

        function myFunc2(e) {
            var val = this.value;
            var re = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)$/g;
            var re1 = /^([0-9]+[\.]?[0-9]?[0-9]?|[0-9]+)/g;
            if (re.test(val)) {
                //do something here

            } else {
                val = re1.exec(val);
                if (val) {
                    this.value = val[0];
                } else {
                    this.value = "";
                }
            }
        }

        var valorInicial = 0; //0: dolares a soles  | 1: soles a dolares
        $('#btncambiar').on("click", function () {
            setTimeout(function () {
                if (valorInicial == 1) {
                    CambioDivisa(0);
                    valorInicial = 0;
                    return;
                }
                CambioDivisa(1);
                valorInicial = 1;
                return;
            }, 500);
        });

        $('#txInput1').keyup(function () {
            if (valorInicial == 1) {
                CambioDivisa(1);
                return;
            }
            CambioDivisa(0);
        });

        $('#txInput2').keyup(function () {
            var vmonto1 = $('#txInput1').val();
            var vmonto2 = $('#txInput2').val();
            if (valorInicial == 1) {
                $('#lbl1').text("Soles");
                $('#lbl2').text("Dólares");
                $('#txInput1').val(parseFloat(vmonto2 * vVenta).toFixed(2));
                return;
            } else {
                // si es 0
                $('#lbl1').text("Dólares");
                $('#lbl2').text("Soles");
                $('#txInput1').val(parseFloat(vmonto2 / vCompra).toFixed(2));
                return;
            }

        });

        $('#btnInicio').click(function () {
            var vmonto1 = $('#txInput1').val();
            var vmonto2 = $('#txInput2').val();
            var tipoCambio = valorInicial;
            //0: dolares a soles | 1: soles a dolares
            if (vmonto1.length == 0 || vmonto2.length == 0) {
                alert("Ingrese montos válidos");
                return;
            }

            localStorage.setItem("SESSION_TIPO", valorInicial);
            localStorage.setItem("SESSION_MONTO1", vmonto1);
            localStorage.setItem("SESSION_MONTO2", vmonto2);
            window.location.href = "/Inicio/Inicio";
        });

    </script>
}