@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .banner .mein-menu .navbar #navbarNavDropdown ul.navbar-nav li.nav-item a.nav-link {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-size: 15px;
        line-height: 1.556;
        font-weight: 600;
        padding-right: 0;
        padding-left: 0;
    }
</style>
<section class="banner" style="background: linear-gradient(rgb(8 8 8 / 50%), rgb(14 14 14 / 50%)), url(../../assets/img2.jpeg);
    background-size: cover;background-position: center; background-repeat: no-repeat;padding-bottom: 40px;position: relative;">
    <div class="laptop">
        @*<img src="~/assets/img/laptop-man.png" class="man-lap" alt="">*@
    </div>
    <!-- Main-menu Strat -->
    <div class="mein-menu">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" style="display: inline-flex;" href="@Url.Action("Index","Inicio")">
                    <img src="~/assets/tucambio.png" height="45" class="logo" alt="logo">
                    <h4 style="color:white;margin-top: 4%;">TuCambioTotal</h4>
                    <!-- <img src="assets/img/logo.png" class="logo" alt="logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("Index","Inicio")">Inicio</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Inicio")">Nosotros</a>
        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Inicio")">¿Cómo funciona?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Inicio")">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <button class="button button-1" style="background-color:#f5ae08;border: 0;color:#fff;" onclick="window.location.href = '/Inicio/registro';">Regístrate</button>
                        </li>
                        <li class="nav-item">
                            <button class="button button-1" onclick="window.location.href = '/Inicio/inicio';">Iniciar sesión</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</section>

<br />
<div class="row text-center justify-content-center mt-5">
    <div class="col-md-8">
        <h4>TÉRMINOS Y CONDICIONES</h4>
        <br />
        <h5>1. Datos de identificación</h5>
        <p align="justify">
            Usted está visitando la Página Web “www.tucambiototal.com” (en adelante la “Plataforma”), titularidad de INVERSIONES MMT PERÚ SAC. (en adelante “TU CAMBIO TOTAL”). <br />
            Denominación: TU CAMBIO TOTAL  <br />
            Domicilio: Jr. Los Grelis Mz K lote 12, SJL  <br />
            R.U.C.: 20607581275  <br />
            E-mail: contacto@tucambiototal.com  <br />
            TU CAMBIO TOTAL está inscrito en la Superintendencia de Banca y Seguros (COLOCAR NUMERO DE RESOLUCIÓN SBS), así mismo, estamos supervisados en materia de prevención de lavado de activos y financiamiento del terrorismo por la Superintendencia de Banca, Seguros y AFP a través de la Unidad de Inteligencia Financiera del Perú para realizar las actividades económicas detalladas en el presente contrato.
        </p>
        <br />
        <h5>2. Aceptación del Usuario</h5>
        <p align="justify">
            Estos Términos y Condiciones regulan el acceso y utilización de la Plataforma por parte del Usuario. La condición de Usuario es adquirida por la mera navegación y/o utilización de la Plataforma.
            Los servicios ofrecidos en la Plataforma se encuentran dirigidos a personas naturales mayores de 18 años de edad o personas jurídicas que tengan una cuenta bancaria en el Perú y que deseen realizar una operación de tipo de cambio sin ningún tipo de distinción.
            TU CAMBIO TOTAL podrá realizar las acciones que considere necesarias para verificar la autenticidad de la identidad del usuario, pudiendo también solicitar información adicional necesaria para este fin. TU CAMBIO TOTAL se reserva el derecho de solicitar información a las entidades que correspondan (sean del Estado y/o Privadas) con el objetivo de validar si la información registrada por el Usuario al momento de abrir la cuenta es real.
            Estos Términos y Condiciones son aplicables a cualquier operación de tipo de cambio a realizar, así como a la relación que se establece entre TU CAMBIO TOTAL y el Usuario que utiliza el servicio.
            El acceso y utilización de la Plataforma implica la aceptación sin reservas de todas las disposiciones incluidas en los presentes Términos y Condiciones, siendo obligación del Usuario leer atentamente los mismos antes de hacer uso de la Plataforma y los servicios ofrecidos por TU CAMBIO TOTAL a través de la Plataforma.
            El acceso y utilización de la Plataforma por parte del Usuario tiene carácter libre y gratuito; sin embargo, TU CAMBIO TOTAL se reserva el derecho de negar o restringir en cualquier momento al usuario el acceso total o parcial a la Plataforma cuando exista una causa relacionada a la seguridad, operaciones fraudulentas y/o delictivas, privacidad, libertad de contratar, identificaciones falsas, o cualquier otra que resulte razonable para ello.
        </p>
        <br />
        <h5>3. Modificación de los Términos y Condiciones</h5>
        <p align="justify">
            TU CAMBIO TOTAL se reserva expresamente el derecho a modificar, actualizar o ampliar en cualquier momento los presentes Términos y Condiciones.
            Cualquier modificación, actualización o ampliación producida en los presentes Términos y Condiciones será inmediatamente publicada siendo responsabilidad del Usuario revisar los Términos y Condiciones vigentes al momento de la utilización de la Plataforma.
            En caso de que el Usuario no estuviera de acuerdo con las modificaciones mencionadas, podrá optar por no hacer uso del servicio ofrecido a través de la Plataforma.
            TU CAMBIO TOTAL no garantiza la disponibilidad, continuidad y operatividad de la Plataforma; así como no se responsabiliza por cualquier daño ocurrido debido a la expectativa de continuidad de la Plataforma por parte del Usuario.
        </p>
        <br />
        <h5>4. Servicio ofrecido a través de la Plataforma</h5>
        <p align="left">
            - Servicio de Tipo de Cambio: Es el servicio mediante el cual TU CAMBIO TOTAL cambia un monto determinado de soles o dólares a un tipo de cambio competitivo. Para ello, el Usuario registra la solicitud de operación de tipo de cambio (compra/venta), indicando el monto requerido a través de la Plataforma. Asimismo, el Usuario se compromete a realizar previamente el abono del monto equivalente al tipo de cambio del día a la cuenta del banco de su preferencia únicamente a través de transferencias bancarias. TU CAMBIO TOTAL se obliga a depositar en la cuenta o tarjeta de crédito especificada por el Usuario, en un plazo de 30 minutos y como máximo de 24 horas posterior a la confirmación de abono en caso sea una operación interbancaria diferida (salvo problemas técnicos especificados en el punto 5), el monto indicado en la solicitud de tipo de cambio. <br />
            - TU CAMBIO TOTAL tiene cuentas en los siguientes bancos tanto para personas naturales como personas jurídicas (empresas): BCP, Interbank y BBVA. <br />
            - Si el Usuario tiene cuentas en otros bancos diferentes a los arriba ya mencionados, podrá realizar una transferencia interbancaria a las cuentas de TU CAMBIO TOTAL según los horarios establecidos por los bancos para ejecutar este tipo de operaciones (consulta con su banco). Cabe resaltar que el cliente deberá asumir las comisiones respectivas de transferencias interbancarias o interplaza que los bancos determinen. TU CAMBIO TOTAL solo podrá procesar la operación una vez se reciba los fondos en las cuentas de TU CAMBIO TOTAL, es importante que el Usuario se asegure de validar con el banco los horarios de transferencias, ya que algunas podrían tomar más de 48 horas en casos de fines de semana, feriados y feriados bancarios. <br />
            - Para realizar operaciones en la plataforma el monto mínimo es de 5 USD. Sin embargo, el monto máximo diario configurado es de 10,000 USD. Si se desean coordinar montos de transferencias mayores, el cliente deberá coordinar con TU CAMBIO TOTAL previamente para aumentar los límites correspondientes. Dependiendo de la coordinación que se realice entre el Usuario y TU CAMBIO TOTAL, el tiempo de procesamiento de la operación puede variar. <br />
            - No se aceptan depósitos en efectivo en las cuentas de TU CAMBIO TOTAL; las operaciones se trabajan mediante transferencias bancarias por regulaciones regidas por la Superintendencia de Banca, Seguros y AFP (SBS) del Perú. <br />
        </p>
        <br />
        <h5>5. Uso de la Plataforma</h5>
        <p align="left">
            El Usuario se compromete a utilizar la Plataforma de conformidad con la Ley, los presentes Términos y Condiciones, la moral, las buenas costumbres y el orden público. En este sentido, la utilización por parte del Usuario de la Plataforma se realizará de conformidad con las siguientes directivas:
            Correcto Uso de la Plataforma <br />
            - El Usuario se compromete a no utilizar la Plataforma con fines o efectos ilícitos o contrarios al contenido de los presentes Términos y Condiciones, que puedan lesionar derechos, o que de cualquier forma pueda resultar en un daño a la plataforma que impida el normal disfrute de la Plataforma por otros Usuarios. <br />
            - El Usuario se compromete a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en la Plataforma. <br />
            - El Usuario se compromete a no obstaculizar el acceso a otros Usuarios mediante el consumo masivo de los recursos informáticos a través de los cuales TU CAMBIO TOTAL presta el servicio, así como cuidarse de no realizar acciones que dañen, interrumpan o generen errores en dichos sistemas o servicios. <br />
            - El Usuario se compromete a no intentar penetrar o probar la vulnerabilidad de un sistema o de una red propia de la Plataforma, así como quebrantar las medidas de seguridad o de autenticación del mismo. <br />
            - El Usuario se compromete a hacer un uso adecuado de los contenidos que se ofrecen en la Plataforma y a no emplearlos para incurrir en actividades ilícitas. <br />
            - El Usuario se compromete a no utilizar la presente Plataforma para enviar correos electrónicos masivos (spam) o correos electrónicos con contenido amenazante, abusivo, hostil, ultrajante, difamatorio, vulgar, obsceno o injurioso. <br />
            Tiempos de Ejecución de las transacciones <br />
            - Las operaciones serán procesadas luego de que se reciben los fondos en las cuentas de TU CAMBIO TOTAL y se haya verificado que los fondos le pertenecen al usuario o cliente ordenante de la operación. Una vez verificado los fondos, TU CAMBIO TOTAL procederá a realizar el abono a la cuenta bancaria o tarjeta de crédito indicada por el cliente. Este proceso tardará 30 minutos como máximo. En caso la cuenta o tarjeta de crédito del usuario requiera una transferencia interbancaria, los fondos llegarán a la cuenta del cliente en los siguientes horarios: <br />
            - Para transferencias a cuenta, los fondos llegarán al banco de destino del cliente según los horarios diferidos indicados en la página https://www.transferenciasinterbancarias.pe/. TU CAMBIO TOTAL mostrará en su plataforma el horario estimado en que el cliente recibirá los fondos. <br />
            - El Usuario conoce y acepta que, debido a problemas técnicos, tráfico, horarios, verificaciones adicionales de seguridad que puedan ser necesarias o por la magnitud del monto requerido por el Usuario, TU CAMBIO TOTAL podría demorar hasta 48 horas para proceder con el abono de dinero solicitado desde la fecha y hora de verificación de los fondos recibidos. <br />
            - El abono podría tomar más tiempo del estipulado en caso se presenten problemas técnicos con las plataformas web o aplicativos móviles de los bancos. <br />
            - El Usuario conoce y acepta que, de no haber realizado el abono requerido para procesar la operación de tipo de cambio dentro de los siguientes 15 minutos posteriores al envío de confirmación de la operación a través de la Plataforma, su solicitud será anulada. <br />
            - El Usuario conoce y acepta que ante cualquier observación encontrada en la operación de tipo de cambio que no permita realizar la transferencia del monto estipulado, la operación pasará a estatus “En revisión” o “Requiere Corrección”. Es responsabilidad del Usuario indicar el número de cuenta o tarjeta correcto y corregir la solicitud de operación en un plazo máximo de 1 hora, caso contrario, la operación de tipo de cambio será anulada. Se debe considerar además que en este tiempo el tipo de cambio podría variar. <br />
            - TU CAMBIO TOTAL no se responsabiliza si los bancos hacen efectivo los abonos con una fecha posterior a la fecha en que TU CAMBIO TOTAL realizó la operación. Esto aplica especialmente para operaciones que sean ejecutadas después de las 8pm. Algunos bancos consideran estas operaciones como efectivas del día hábil siguiente. <br />
            <br />
            Obligaciones del Usuario <br />
            - TU CAMBIO TOTAL no se responsabiliza por transferir los fondos a un número de cuenta o tarjeta incorrecto, producto del error de ingreso de información en la solicitud por parte del Usuario. Cualquier costo adicional derivado del error, debe ser asumido por el cliente. <br />
            - El Usuario conoce y acepta que, debido a interrupción o funcionamiento defectuoso de las instalaciones, equipos, o canales de TU CAMBIO TOTAL; podría existir algún error en las transacciones efectuadas, así como demora debido a problemas técnicos, tráfico y horarios, por lo que exime de responsabilidad a TU CAMBIO TOTAL cuando el hecho haya ocurrido por causas no imputables a éste y se compromete a comunicar dichos hechos en cuanto tenga conocimiento de estos. <br />
            - Cualquier tipo de error o inexactitud que el Usuario advierta respecto a alguna comunicación de TU CAMBIO TOTAL, deberá ser comunicada en cuanto tenga conocimiento de ésta. Una vez reportado el hecho a TU CAMBIO TOTAL, este será atendido según los controles internos establecidos. <br />
            - Tarifas y Comisiones <br />
            - TU CAMBIO TOTAL realiza transferencias a cuentas diferentes al BCP, Interbank y BBVA usando transferencias interbancarias diferidas, estas transferencias tienen un costo de comisión definido por el tarifario de los bancos en donde TU CAMBIO TOTAL tiene cuentas. TU CAMBIO TOTAL asumirá esta comisión solo para operaciones mayores a $500. Si el cliente registra una operación por un monto menor a $500 que implique un pago en un banco diferente al BCP, Interbank o BBVA, el monto de la comisión interbancaria será trasladado al usuario. La plataforma de TU CAMBIO TOTAL le indicará al usuario el monto de esta comisión durante al registro de su operación. <br />
            - TUCAMBIO TOTAL solo opera con cuentas en la plaza de la región de Lima y Callao. Algunos bancos como el Interbank, Pichincha, BBVA y Scotiabank cobran comisiones interplaza. Estas comisiones serán asumidas totalmente por el usuario. El monto de esta comisión se descontará del monto que se le transferirá al usuario a la cuenta solicitada. La plataforma de TU CAMBIO TOTAL le indicará al usuario el monto de la comisión por esta operación. <br />
            - TU CAMBIO TOTAL no acepta transferencias realizadas en agentes u oficinas de bancos ubicados en provincia, debido a que este tipo de operaciones generan un cargo de comisión a las cuentas de TU CAMBIO TOTAL. Si el usuario opta por realizar una transferencia en un agente o oficina ubicada en provincia, el costo de la comisión generada será descontado del monto final a pagar por TU CAMBIO TOTAL al cliente. TU CAMBIO TOTAL requiere que los clientes siempre utilicen plataformas digitales (web o banca móvil). <br />
            - Otras comisiones. Dependiendo del tipo de cuenta del cliente, el banco podría cargar una comisión mayor a la comisión estándar que asume TU CAMBIO TOTAL (máximo de $2). Cualquier comisión adicional que sea cargada por los bancos a las cuentas de TU CAMBIO TOTAL por realizar la transferencia a la cuenta del usuario que tenga una condición especial será trasladada al usuario. Se le recomienda al usuario validar con su banco las condiciones y cargos que implica recibir transferencias interplaza o interbancarias antes de realizar la operación. <br />
            - Todas las comisiones que los bancos generen a TU CAMBIO TOTAL por devoluciones serán asumidas por el usuario. <br />
            - En el caso en que un Usuario infrinja lo establecido en el presente apartado, TU CAMBIO TOTAL procederá a realizar alguna de las siguientes acciones, dependiendo de la gravedad o reiteración de la infracción: <br />
            1. Suspensión temporal de la cuenta del Usuario. <br />
            2. Cancelación definitiva de la cuenta del Usuario. <br />
            3. Acciones por responsabilidad civil, administrativa o penal. <br />
            4. Notificación del comportamiento irregular a los entes reguladores. <br />
            Tarifas y Comisiones <br />
            - TU CAMBIO TOTAL realiza transferencias a cuentas diferentes al BCP, Interbank y BBVA usando transferencias interbancarias diferidas, estas transferencias tienen un costo de comisión definido por el tarifario de los bancos en donde TU CAMBIO TOTAL tiene cuentas. TU CAMBIO TOTAL asumirá esta comisión solo para operaciones mayores a $500. Si el cliente registra una operación por un monto menor a $500 que implique un pago en un banco diferente al BCP, Interbank o BBVA, el monto de la comisión interbancaria será trasladado al usuario. La plataforma de TU CAMBIO TOTAL le indicará al usuario el monto de esta comisión durante al registro de su operación. <br />
            - TUCAMBIO TOTAL solo opera con cuentas en la plaza de la región de Lima y Callao. Algunos bancos como el Interbank, Pichincha, BBVA y Scotiabank cobran comisiones interplaza. Estas comisiones serán asumidas totalmente por el usuario. El monto de esta comisión se descontará del monto que se le transferirá al usuario a la cuenta solicitada. La plataforma de TU CAMBIO TOTAL le indicará al usuario el monto de la comisión por esta operación. <br />
            - TU CAMBIO TOTAL no acepta transferencias realizadas en agentes u oficinas de bancos ubicados en provincia, debido a que este tipo de operaciones generan un cargo de comisión a las cuentas de TU CAMBIO TOTAL. Si el usuario opta por realizar una transferencia en un agente o oficina ubicada en provincia, el costo de la comisión generada será descontado del monto final a pagar por TU CAMBIO TOTAL al cliente. TU CAMBIO TOTAL requiere que los clientes siempre utilicen plataformas digitales (web o banca móvil). <br />
            - Otras comisiones. Dependiendo del tipo de cuenta del cliente, el banco podría cargar una comisión mayor a la comisión estándar que asume TU CAMBIO TOTAL (máximo de $2). Cualquier comisión adicional que sea cargada por los bancos a las cuentas de TU CAMBIO TOTAL por realizar la transferencia a la cuenta del usuario que tenga una condición especial será trasladada al usuario. Se le recomienda al usuario validar con su banco las condiciones y cargos que implica recibir transferencias interplaza o interbancarias antes de realizar la operación. <br />
            - Todas las comisiones que los bancos generen a TU CAMBIO TOTAL por devoluciones serán asumidas por el usuario. <br />
        </p>
        <br />
        <h5>6. Registro y responsabilidad por contraseñas</h5>
        <p align="center">
            El Usuario podrá navegar por la Plataforma sin necesidad de registrarse en una cuenta, sin embargo, para acceder al servicio de operación de tipo de cambio, deberá hacerlo ingresando sus datos personales en el formulario de registro implementado para tal efecto. El procedimiento de registro en la Plataforma es totalmente gratuito. La cuenta de Usuario será el correo electrónico que el Usuario designe al momento de registrarse en la Plataforma. Se recomienda al Usuario que el correo electrónico para iniciar sesión no incluya el nombre de otra persona con la intención de hacerse pasar por esa persona, ni sea ofensivo, vulgar, obsceno o contrario a la moral y las buenas costumbres.
            Los Usuarios registrados en la Plataforma contarán con una clave personal o contraseña con la cual podrán acceder a su cuenta personal. Cada Usuario es responsable de su propia contraseña, y deberá mantenerla bajo absoluta reserva y confidencialidad, sin revelarla o compartirla, en ningún caso, con terceros. Cada Usuario es responsable de todas las acciones realizadas mediante el uso de su contraseña. TU CAMBIO TOTAL informa al Usuario que toda acción realizada a través de la cuenta personal de un Usuario se presume realizada por el Usuario titular de dicha cuenta.
            En caso el Usuario se registre en la Plataforma utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”) requerirá ingresar el nombre de usuario (correo electrónico) y clave (“Credenciales de acceso”) utilizados para acceder a dichas redes sociales. Al ingresar las Credenciales de Acceso en la Plataforma, el Usuario reconoce y acepta que se regirá por los términos y condiciones de uso de los Servicios de Terceros en lo que resulte aplicable y autoriza a TU CAMBIO TOTAL a acceder a la información de la cuenta registrada en dichos Servicio de Terceros. El Usuario tendrá la opción de desactivar el acceso al Plataforma mediante el uso de las Credenciales de Acceso directamente desde los Servicios de Terceros. El Usuario reconoce expresamente que la plataforma de las redes sociales es ajena la Plataforma y por ello toda actividad realizada en estas no se encuentra bajo la responsabilidad de TU CAMBIO TOTAL.
            Ya sea que ingrese a través de un registro personal en la Plataforma o a través de Servicios de Terceros, en el caso en que un Usuario identificara que un tercero conociera y usara su contraseña y por tanto su cuenta personal, deberá notificarlo de manera inmediata a TU CAMBIO TOTAL señalando los motivos por los que considera aquello.
            TU CAMBIO TOTAL no será responsable de cualquier daño relacionado con la divulgación del correo electrónico del Usuario para iniciar sesión o de su contraseña, o del uso que cualquier persona dé al correo electrónico del Usuario o contraseña. Sin perjuicio de ello, TU CAMBIO TOTAL podrá requerir el correo electrónico del Usuario y contraseña cuando considere que la cuenta ya no es segura, o si se recibe alguna queja o denuncia respecto al correo electrónico del Usuario que viole derechos de terceros. Asimismo, podrá prohibir el acceso a través de Servicios de Terceros a ciertos Usuarios si es que recibe alguna queja o denuncia respecto al nombre del correo electrónico que accede a través de dicho mecanismo.
        </p>
        <br />
        <h5>7. Limitación de responsabilidad e indemnidad</h5>
        <p align="center">
            Salvo que así lo establezca la legislación aplicable de obligado cumplimiento, el uso que el Usuario haga de la Plataforma o de todas las funcionalidades que la Plataforma ofrece, incluyendo cualquier contenido o herramienta, se ofrece “tal cual” y “según su disponibilidad” sin declaraciones o garantías de ningún tipo, tanto explícitas como implícitas. TU CAMBIO TOTAL no garantiza que la Plataforma sea siempre segura o esté libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones.
            TU CAMBIO TOTAL no se hace responsable de los posibles daños o perjuicios en la Plataforma, que se puedan derivar de interferencias, omisiones, interrupciones, virus informáticos, averías o desconexiones en el funcionamiento operativo de este sistema electrónico, motivado por causas ajenas a TU CAMBIO TOTAL, de retrasos o bloqueos en el uso de este sistema electrónico causados por deficiencias o sobrecargas en el sistema de Internet o en otros sistemas electrónicos, así como también de daños que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control de TU CAMBIO TOTAL que pudieran afectar el procesamiento, respuesta y desembolsos de financiamiento.
            Asimismo, TU CAMBIO TOTAL no se hace responsable por la calidad, seguridad, integridad, utilidad e idoneidad de los productos o servicios contratados por el Usuario, pagados a través del monto cambiado y obtenido a través de TU CAMBIO TOTAL, ni de la veracidad o precisión en la descripción de dichos productos o servicios, mostrados o distribuidos a través de cualquier medio del comercio. En este sentido, TU CAMBIO TOTAL no responderá por las posibles reclamaciones que puedan formular los Usuarios relacionadas con la calidad o adecuación de los productos o bienes contratados con el monto cambiado y obtenido través del Servicio.
            Finalmente, el Usuario acepta eximir de responsabilidad a TU CAMBIO TOTAL frente posibles reclamaciones, demandas, sanciones o multas derivadas del mal uso del Servicio, de la violación de los presentes Términos y Condiciones o de la vulneración de derechos de terceros.
        </p>
        <br />
        <h5>8. Responsabilidades de los Usuarios</h5>
        <p align="center">
            Los Usuarios reconocen y aceptan que las compras de bienes, mercancías, productos o servicios con el dinero obtenido por el servicio de tipo de cambio a través de la Plataforma, son operaciones entre el Usuario y un tercero, sin que se encuentre TU CAMBIO TOTAL vinculado. TU CAMBIO TOTAL no se responsabiliza en general por el uso de los fondos obtenidos a través del Servicio ofrecido; es el Usuario quien confirma los fondos, hace el depósito e indica la cuenta destino hacia la que irá finalmente el dinero cambiado, siendo el Usuario el único responsable de esta cuenta.
            TU CAMBIO TOTAL no se hace responsable por cualquier daño que sufra el Usuario debido a errores o inexactitudes cometidos por este último en la lectura o ingreso de información al Plataforma. Asimismo, el usuario deberá estar atento a cualquier error en la información registrada en la Plataforma y, de haber un motivo razonable que motive la sospecha de un error en la información, el Usuario deberá ponerse en contacto con TU CAMBIO TOTAL para realizar la consulta respectiva antes de tomar una decisión que involucre dicha información. No cumplir con esta consulta previa faculta a TU CAMBIO TOTAL a anular cualquier operación realizada por el Usuario en uso de dicha información.
            Los Usuarios reconocen y aceptan que, por motivos de seguridad, TU CAMBIO TOTAL cuenta con la facultad de suspender, cancelar o anular cualquier solicitud que considere fraudulenta, que presente indicios de información no veraz; o, que no cumpla con los Términos y Condiciones presentes.
            Dicha facultad podrá ser realizada en cualquier momento del procedimiento de solicitud de tipo de cambio, incluso si la solicitud ya fue confirmada y se encuentra próxima a ser procesada.
        </p>
        <br />
        <h5>9. Propiedad Intelectual</h5>
        <p align="center">
            Todos los derechos de propiedad intelectual de la Plataforma y de sus contenidos y diseños pertenecen a TU CAMBIO TOTAL o, en su caso, a terceras personas. En aquellos casos en que sean propiedad de terceros TU CAMBIO TOTAL cuenta con las licencias necesarias para su utilización.
            Quedan expresamente prohibidas la reproducción, distribución, transformación, comunicación pública y puesta a disposición, de la totalidad o parte de los contenidos de la Plataforma, en cualquier soporte y por cualquier medio técnico, sin la autorización de TU CAMBIO TOTAL. El Usuario se compromete a respetar los derechos de propiedad industrial e intelectual de titularidad de TU CAMBIO TOTAL y de terceros.
            Asimismo, queda expresamente prohibido la utilización o reproducción de cualquier marca registrada, nombre o logotipo que figure en la Plataforma sin la autorización previa y por escrito de TU CAMBIO TOTAL, así como la utilización del software que opera la Plataforma con excepción de aquellos usos permitidos bajo estos Términos y Condiciones.
        </p>
        <br />
        <h5>10. Enlaces de terceros</h5>
        <p align="center">
            En el supuesto de que en la Plataforma se dispusieran enlaces o hipervínculos hacia otros sitios de Internet, TU CAMBIO TOTAL declara que no ejerce ningún tipo de control sobre dichos sitios y contenidos. En ningún caso TU CAMBIO TOTAL asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a una web ajena, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en cabeza de los hipervínculos u otros lugares de Internet.
            Estos enlaces se proporcionan únicamente para informar al Usuario sobre la existencia de otras fuentes de información sobre un tema concreto, y la inclusión de un enlace no implica la aprobación de la página web enlazada por parte de TU CAMBIO TOTAL.
        </p>
        <br />
        <h5>11. Datos de carácter personal</h5>
        <p align="center">
            Los distintos tratamientos de datos personales que TU CAMBIO TOTAL realiza a través de la Plataforma, así como las finalidades de dichos tratamientos, serán detallados específicamente en la Política de Privacidad de la Plataforma a la que el Usuario podrá acceder a través del siguiente enlace: Política de Privacidad
        </p>
        <br />
        <h5>12. Comunicaciones</h5>
        <p align="center">
            El Usuario acepta expresamente que la dirección de correo electrónico consignada en el formulario de registro será el medio de contacto oficial entre la Plataforma y el Usuario, siendo absoluta responsabilidad de este último verificar que dicho correo electrónico esté siempre activo y funcional para poder recibir todas las comunicaciones procedentes de la Plataforma. También se podrá contactar con el Usuario a través del número celular que el Usuario proporcione mediante llamadas, mensajes de texto y/o WhatsApp (de ser el caso que el Usuario lo tenga).
            Los mensajes o comunicaciones de la Plataforma a los Usuarios sólo pueden provenir de las páginas o cuentas oficiales de éste en redes sociales u otros medios. En caso se detectara que algún Usuario está enviando comunicaciones o realizando publicaciones en nombre de la Plataforma, TU CAMBIO TOTAL iniciará las acciones correctivas y legales pertinentes a fin de proteger al resto de Usuarios de la Plataforma de posibles riesgos de confusión.
            De otro lado, toda comunicación que el Usuario desee dirigir a la Plataforma deberá realizarla a través de la siguiente dirección de correo electrónico: contacto@tucambiototal.com.
        </p>
        <br />
        <h5>13. Fuerza mayor</h5>
        <p align="center">
            TU CAMBIO TOTAL no será responsable por cualquier retraso o falla en el rendimiento o la interrupción en la prestación de los servicios que pueda resultar directa o indirectamente de cualquier causa o circunstancia más allá de su control razonable, incluyendo, pero sin limitarse a fallas en los equipos o las líneas de comunicación electrónica o mecánica, robo, errores del operador, clima severo, terremotos o desastres naturales, huelgas u otros problemas laborales, guerras, o restricciones gubernamentales.
        </p>
        <br />
        <h5>14. Libro de reclamaciones</h5>
        <p align="center">
            Conforme a lo establecido en el Código de Protección y Defensa del Consumidor, Ley No. 29571, TU CAMBIO TOTAL pone a disposición del Usuario un Libro de Reclamaciones virtual a fin de que éste pueda registrar sus quejas o reclamos formales sobre los servicios ofrecidos a través de la Plataforma. Éste puede ser encontrado en esta dirección: Libro de Reclamaciones.
        </p>
        <br />
        <h5>15. Autoridades y requerimientos legales</h5>
        <p align="center">
            TU CAMBIO TOTAL coopera con las autoridades competentes y con terceros para garantizar el cumplimiento de las leyes en materia de protección de derechos de propiedad industrial e intelectual, prevención del fraude, protección al consumidor y otras materias.
            TU CAMBIO TOTAL podrá revelar la información personal de Usuarios de la Plataforma bajo requerimiento de las autoridades judiciales o gubernamentales competentes, en la medida en que discrecionalmente lo entienda necesario, para efectos de investigaciones conducidas por ellas, cuando se trate de investigaciones de carácter penal o de fraude, o las relacionadas con piratería informática, la violación de derechos de autor, infracción de derechos de propiedad intelectual, u otra actividad ilícita o ilegal que pueda exponer al Plataforma o a sus Usuarios a cualquier responsabilidad legal.
            Asimismo, TU CAMBIO TOTAL se reserva el derecho de comunicar información sobre sus Usuarios a otros Usuarios, a entidades o a terceros, cuando haya motivos suficientes para considerar que la actividad de un Usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar a otras personas. Este derecho será utilizado por TU CAMBIO TOTAL a su entera discreción cuando lo considere apropiado o necesario para mantener la integridad y seguridad de la Plataforma y la de sus Usuarios, para hacer cumplir los presentes Términos y Condiciones, y a efectos de cooperar con la ejecución y cumplimiento de la ley.
        </p>
        <br />
        <h5>16. Inexistencia de sociedad o relación laboral</h5>
        <p align="center">
            La participación de un Usuario en la Plataforma no constituye ni crea contrato de sociedad, de representación, de mandato, como así tampoco relación laboral alguna entre dicho Usuario y TU CAMBIO TOTAL.
        </p>
        <br />
        <h5>17. Cesión de posición contractual</h5>
        <p align="center">
            Los Usuarios autorizan expresamente la cesión de estos Términos y Condiciones y de su información personal en favor de cualquier persona que (i) quede obligada por estos Términos y Condiciones y/o (ii) que sea el nuevo responsable del banco de datos que contenga su información personal. Luego de producida la cesión, TU CAMBIO TOTAL no tendrá ninguna responsabilidad con respecto de cualquier hecho que ocurra a partir de la fecha de la cesión. El nuevo responsable del banco de datos asumirá todas y cada una de las obligaciones de TU CAMBIO TOTAL establecidas en los presentes Términos y Condiciones, y en la Política de Privacidad respecto del tratamiento, resguardo y conservación de la información personal de los usuarios de la Plataforma.
        </p>
        <br />
        <h5>18. Ley aplicable y jurisdicción</h5>
        <p align="center">
            Los presentes Términos y Condiciones se rigen por la ley peruana y cualquier disputa que se produzca con relación a la validez, aplicación o interpretación de los mismos, incluyendo la Política de Privacidad, será resuelta en los tribunales del Cercado de Lima.
        </p>
        <br />
        <strong>
            07 de junio del 2021.
        </strong>

    </div>
</div>


@*<div>
    <div id="WhatsappBtn" style="z-index: 999;"></div>
</div>*@

<div>
    @*<div id="WhatsappBtn" style="z-index: 999;"></div>*@
    <style>
        div.ccw_plugin, .inline {
            display: inline;
        }

        .chatbot {
            position: fixed;
            z-index: 99999999;
        }

        .ccw_plugin .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    </style>

    <div class="ccw_plugin chatbot" style="bottom:20px; right:30px;">
        <div class="style4 animated no-animation ccw-no-hover-an">
            <a target="_blank" href="https://web.whatsapp.com/send?phone=51941645017&text=" class="nofocus">
                <div class="chip style-4 ccw-analytics" id="style-4" data-ccw="style-4" style="background-color: #5de246; color: #000000">
                    <img id="s4-icon" data-ccw="style-4" alt=""
                         data-src="https://mendozacercoselectricos.com/wp-content/plugins/click-to-chat-for-whatsapp/./new/inc/assets/img/whatsapp-logo-32x32.png"
                         class="ccw-analytics lazyloaded"
                         src="https://mendozacercoselectricos.com/wp-content/plugins/click-to-chat-for-whatsapp/./new/inc/assets/img/whatsapp-logo-32x32.png">
                    Esperamos tu mensaje!
                </div>
            </a>
        </div>
    </div>

</div>